[alias]
	st = status
	d = diff --color-words
	dw = diff --word-doff
	ci = commit -v
	cia = commit -v -a
	ca = commit -a -m
	co = checkout
	cp = cherry-pick
	l = log
	ll = log -p
	lod = log --oneline --decorate
	lgraph = log --oneline --decorate --graph
	b = branch
	pom = push origin master
	pullit = pull --rebase
	rem = remote add origin
	unstash = stash branch
[push]
	default = simple
[user]
	email = adrianmarkperea@gmail.com
	name = Adrian Perea
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
